
<p> <%= @customer.firstname %> </p>

<p> <%= @customer.lastname %> </p>
<p> <%= @customer.email %> </p>
<p> <%= @customer.city %> </p>
<p> <%= @customer.zip %> </p>
<p> <%= @customer.state %> </p>

<%= link_to "List All Customers", customers_path %>

